

<ion-view view-title="Tu Cocina Virtual">

<div class="row col col-100">
	  <ion-content class="center" ng-controller="HomeCtrl">
		<div class="">
		<!-- <img src="img/icono-tucocina.png" alt="" class="center"> -->
		</div>
		<h1 class="tag-line">A un clic de tu Mesero</h1>

			<div class="centrado">
			  <label class="item item-input block designInputButton">
			   
			    <input ng-model="pin" type="tel" placeholder="PIN del Restaurante">
			  </label>
			
			  <button ng-click="saveCodigoRestaurante()" class="button button-block button-dark designInputButton">
			  	  Entrar
		      </button>

		      <button ng-click="leerQR()" class="button button-block button-dark designInputButton">Escanear Código</button>
		<p class="taglineAppPaRestaurantes"> Aplicación para Restaurantes </p>
			</div>

			

			
	  </ion-content>
  </div>
</ion-view>
