<ion-view view-title="" left-buttons="leftButtons" right-buttons="rightButtons">

 <ion-content class="content-home" ng-controller="MenuCategoriasCtrl">        
          <div class="item item-thumbnail-left contieneLogoRestaurante">
            <img src="img/doh-logo-transparente128.png"><br>
            <h2>Hamburguesas del Oeste</h2>
            <p>calle 92 # 11 - 32 </p>
          </div>
          <div class="cubreCategorias">
            <div class="col co-100 no-padding">
              <div class=" no-padding">
                  <div class=" no-padding">
                    <div class="menu-item">
                      <a ng-repeat="categoria in categorias" ng-click="verPlatos(categoria.$id)" class="aSinLinea">
                        <div class="row">                                                        
                          <div class="col col-50 menu-pagina-menuCategorias">
                            <i class="ion-ios-email-outline icon-menu agrandoIcono" style="color:lightgrey"></i>
                            <p class="agrandoLetra">{{ categoria.nombreCategoria }}</p>
                          </div>
                          <div class="col col-50 menu-pagina-menuCategoriasBlanco">
                            <img style="width:100px" ng-src="http://tucocinavirtual.com/test/uploads/{{ categoria.imagen }}">
            
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      
</ion-content>
</ion-view>
