<ion-view view-title="Tu Cocina Virtual" left-buttons="leftButtons" right-buttons="rightButtons">

 <ion-content class="content-home" >

  <div class="row columna" ng-controller="MenuPrincipalCtrl">
      <div class="col col-100 ">
        <div class="">


          <div class="item item-thumbnail-left contieneLogoRestaurante">
            <img src="img/doh-logo-transparente128.png"><br>
            <h2>Hamburguesas del Oeste</h2>
            <p>calle 92 # 11 - 32 </p>
            
          </div>
          <div class="cubreAlmenuPrincipal">
            <div class="col co-100 no-padding">
            <div class="row no-padding">
                <div class="col col-50 no-padding">
                  <div class="menu-item">
                    <a ng-click="verMenu()" class="aSinLinea">
                      <!-- comienza ver menú -->
                      <div class="menu-pagina-menuPrincipal border-izquierda paddingTopOcho">
                        <i class="ion-ios-book agrandoIcono"></i>
                        <p class="agrandoLetra">Menú Comida</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col col-50 no-padding">
                  <div class="menu-item ">
                    <a ng-click="verDelDia()" class="aSinLinea">
                      <div class="promociones menu-pagina-menuPrincipal  paddingTopOcho">
                        <i class="ion-android-star agrandoIcono"></i>
                        <p class="agrandoLetra">Plato del Día</p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
            </div>
            <div class="col co-100 no-padding">
            <div class="row no-padding">
                <div class="col col-50 no-padding">
          
            
                
                  <div class="menu-item">
                    <a ng-click="verTuPedido()" class="aSinLinea">
                      <!-- comienza boton tu Pedido -->
                      <div class="tu-pedido menu-pagina-menuPrincipal paddingTopOcho">
                        <i class="ion-document-text agrandoIcono"></i>
                        <p class="agrandoLetra">Tu Pedido</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col col-50 no-padding">
                  <div class="menu-item">
                    <a ng-click="verPedirCuenta()" class="aSinLinea">
                      <!-- comienza Boton Pedir Cuenta -->
                      <div class="pedir-cuenta menu-pagina-menuPrincipal paddingTopOcho">
                        <i class="ion-cash agrandoIcono separaPedirCuentaIconos"></i>
                        <i class="ion-card agrandoIcono"></i>
                        <p class="agrandoLetra">Pedir Cuenta</p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
            </div>
            <div class="col co-100 no-padding">
            <div class="row no-padding">
                <div class="col col-100 no-padding">
                  <div class="menu-item">
                    <a ng-click="verLlamarMesero()" class="aSinLinea">
                      <!-- comienza boton llamar meserio -->
                      <div class="llamar-mesero menu-pagina-menuPrincipal bordes-abajo paddingTopOcho">
                        <i class="ion-android-walk agrandoIcono"></i>
                        <p class="agrandoLetra">Llamar Mesero</p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>

        <!-- comienza carousel producto destacados -->
        <div  class="carousel" ng-controller="MenuPrincipalCtrl" class="col col-100">
          <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="true" does-continue="true">
                  <ion-slide ng-repeat="slide in sliders">
                    <img class="slider-img" ng-src="http://tucocinavirtual.com/test/uploads/promo/{{slide.imagen_promo}}" alt="">  
                    <!-- <img class="slider-img" ng-src="{{slide.image}}" alt="">   -->
                  </ion-slide>
        </ion-slide-box>
        </div>
      </div>
  </div>
</ion-content>
</ion-view>