

<ion-view view-title="Tu Cocina Virtual">

<div class="row col col-100">
	  <ion-content class="center" ng-controller="MesaCtrl">
		<h1 style="font-size:24px;margin-bottom:27px;"class="center">En qué mesa estas ?</h1>
			
	    
			<div class="">
			  <label class="item item-input block">
			   
			    <input ng-model="mesa" style="text-align:center" type="tel" placeholder="Número de mesa">
			  </label>
			
			  <button ng-click="mesaRestaurante()" class="button button-block button-dark">
			  	  Entrar
			  </button>
			</div>

			

			<br><br>	
			<p class="" style="margin-top:20px"> Aplicación para Restaurantes </p>
	  </ion-content>
  </div>
</ion-view>
