 <ion-content class="content-home" ng-controller="platoSeleccionadoCtrl">
 	<div class="row columna">
 		<div class="col col-100 ">
 			<br>
 			<br>
 			<br>
 			<div class="panel">
 				<h2>Plato seleccionado</h2>
 				<p>Nombre: {{platoSelect.nombrePlato}}</p>
 				<p>Descripción: {{platoSelect.descripcion}}</p>
 				<p>Valor: {{platoSelect.valor}}</p>
 				<br>
 			</div>

 			<div class="panel">
 				<h2>Ingredientes</h2>
 				<div ng-repeat="ingrediente in ingredientesPlato">
 					<p>{{ingrediente.nombreIngrediente}}</p>
 				</div>
 			</div>

 			<div class="panel">
 				<h2>Adicionales</h2>
 				<div ng-repeat="adicional in adicionalesPlato">
 					<p>{{adicional.nombreAdicional}}</p>
 					<p>{{adicional.valor}}</p>
 				</div>
 			</div>
 			<button ng-click="otroPedido()" class="button button-block button-stable">
			  Pedir otro plato
			</button>

 			<button ng-click="verResumen()" class="button button-block button-stable">
			  Envíar pedido
			</button>
 		</div>
 	</div>
 </ion-content>
