 <ion-content class="content-home" ng-controller="PlatosCtrl">
 	<div class="row columna">
 		<div class="col col-100 ">
 			<br>
 			<br>
 			<br>
 			<div ng-repeat="plato in platos">
 				<p>Nombre: {{plato.nombrePlato}}</p>
 				<p>Descripción: {{plato.descripcion}}</p>
 				<p>Valor: {{plato.valor}}</p>
 				<p>ID: {{plato.$id}}</p>
 				<button ng-click="pedirPlato(plato.$id)" class="button button-block button-stable">PEDIR PLATO</button>
 				<br>
 			</div>
 		</div>
 	</div>
 </ion-content>
