
<ion-content class="content-home">
    <div class="row columna panel">
        <div class="col col-100 platos-list">
            <div ng-click="pedirPlato(plato.$id)" class="list contienePlatos" ng-repeat="pedido in misPedidos">
                <a class="item item-thumbnail-left soloRadius">
                    <img style="width:150px" ng-src="http://tucocinavirtual.com/test/uploads/{{ pedido.imagen }}">
                    <h2>{{pedido.plato}}</h2>
                    <i class="icon ion-email"></i>
                    <p>Estado del Plato :</p>
                    <p> {{pedido.estado}}</p>
                    <p class="plato-precio">{{pedido.precio | currency : "$" : 0}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="bar bar-footer bar-energized barra-Footer">
        <button ng-click="otroPedido()" class="button button-clear"><i class="ion-chevron-left"></i>Pedir otro plato</button>
        <button ng-click="enviarPedido()" class="button button-clear">Envíar pedido <i class=" ion-chevron-right"></i></button>
    </div>
</ion-content>
