 <ion-content class="content-home">
 	<div class="row columna">
 		<div class="col col-100">
 			<br>
 			<br>
 			<div class="panel">
 				<div ng-repeat="pedido in misPedidos">
	 				<h2>Plato seleccionado</h2>
	 				<p>Nombre: {{pedido.plato}}</p>
	 				<p>Estado: {{pedido.estado}}</p>
	 				<p>Valor: {{pedido.precio}}</p>
	 				<br>
 				</div>
 			</div>
			
			<div class="total">
 				<h1>TOTAL: {{total}}</h1>
	 		</div>


 			<button ng-click="otroPedido()" class="button button-block button-stable">
			  Pedir otro plato
			</button>
			<button ng-click="enviarPedido()" class="button button-block button-stable">
			  Envíar pedido
			</button>
 		</div>
 	</div>
 </ion-content>
