/* Empty. Add your own CSS if you like */

/*para centrar en la mitad boton*/
.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



/*centra placeholder*/
::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-ms-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}


/* agrega fuentes */
body{font-family: 'Varela Round', sans-serif;}

h1, h2, h3, h4, h5, h6{font-family: 'Varela Round', sans-serif;}

.menu-pagina-menuPrincipal {
    background: lightgrey;
    text-decoration: none;
    color: grey;
    text-align: center;
    height: 80px;
    border: 2.9px white solid;
    border-radius: 8px;
    margin-left: 2px;
    margin-bottom: 1px;
}


.menu-pagina-menuPrincipal:hover{
    background: grey;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 80px;
    border:2.9px lightgrey solid;
    border-radius: 8px;
    margin-left: 2px;
    margin-bottom: 1px;
}

.promociones, .pedir-cuenta{
    margin-left:1px;
}


.menu-pagina-menuCategorias{
    background: lightgrey ;
    text-decoration: none;
    color: grey;
    text-align: center;
    height: 80px;
    border:.9px white solid;
    border-radius: 8px;
    margin-left: 2px;
    margin-bottom: 6px;
     border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size:12px;
}

.menu-pagina-menuCategorias:hover{
    background: white ;
    text-decoration: none;
    color: grey;
    text-align: center;
    height: 80px;
    border:.9px white solid;
    border-radius: 8px;
    margin-left: 2px;
    margin-bottom: 6px;
}

.menu-pagina-menuCategoriasBlanco{
    background: white ;
    text-decoration: none;
    color: grey;
    text-align: center;
    height: 80px;
    border:2.5px lightgrey solid;
    border-radius: 8px;

    margin-bottom: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}




.agrandoIcono {
    font-size: 2.8em;
    color:white;
}

.agrandoLetra {
    font-size: 1.3em !important;
}

.aSinLinea{
    text-decoration:none;
}

.no-padding{
    padding:0px;
}

.bordes-abajo{
        margin-top: 4px;
    /* border-bottom-left-radius: 20px; */
    /* border-bottom-right-radius: 7px; */
    border-radius: 13px;
}

.border-izquierda{
    border-top-left-radius:10px;
}
/*.border-derecha{
    border-top-right-radius: 10px;
    border-radius: 8px;
    margin-left: 2px;
    margin-bottom: 2px;
}*/

.cubreCategorias{
    background:whitesmoke;
    padding:4px;
}

.bar.bar-energized{
    background-color:#FEC503 ;
}

.bar.bar-stable .title {
    color: white;
 /*   background-color: #FED136;*/
    font-size: 1.6em;
}

.paddingTopOcho{
    padding-top:8px;
}

div.title.title-center.header-item{ font-size: 1.5em; }


.cubreAlmenuPrincipal{
    padding:4px;
    border: 4px solid lightgrey;
    border-radius: 15px;
    background-color: whitesmoke;
}


.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
    vertical-align: top;
    font-size: 50px;
    line-height: 32px;
}


/* home.html */
.tag-line{
    font-size:24px;
    margin-bottom:23px;
}

.centrado{
    text-align:center;
}

.designInputButton{
   border-radius:10px;
}

.taglineAppPaRestaurantes{
    margin-top:20px;
}

/* comienza mesa.html */



/* comienza menu-principal */
.contieneLogoRestaurante{
    border:2px solid white;
}
.separaPedirCuentaIconos{
    margin-right:5px;
}



/* comienza menu-categorias.html */
.img_categoria{
    width: 50%;
}

/* comienza platos.html*/
.contienePlatos{
    background-color: lightgrey;
    border-radius:10px;
    padding:5px;
    margin-bottom:14px;
}
.contieneInfo{
    color:grey;
}

.soloRadius{
    border-radius: 8px;
}


.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {

     white-space: normal !important;
}
/* View template plato-seleccionado*/



.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.ingrediente-item{
    margin: 0 24px;
}
.adicional-item{
    margin: 0 24px;
}
.item-height{
    height: auto;
    margin-bottom: 50px !important;
}
.plato-img{
    width: 237px;
    height: 213px;
}

.card{
    margin: 0;
}
/* Lista de platos */
.plato-precio{
    float: right;
    color: #52C128 !important;
}
.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.slider-img{
width: 100%;
height: 150px;
}
